.create-new-quiz{
    color: var(--purple-900);
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.quiz-title-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    background-color: #e9d7fe6b;
    border: 1px solid var(--purple-900);
    border-radius: 10px;
}

.questions-list {
    margin-bottom: 20px;
}

.add-question-button,
.preview-quiz-button,
.save-quiz-button {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--purple-600);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-question-button:hover,
.preview-quiz-button:hover,
.save-quiz-button:hover {
    background-color: var(--purple-600);
}

.difficulty-container,
.dropdown-container {
    margin-bottom: 20px;
    text-align: left;
    padding: 1rem;
    background-color: #e9d7fe6b;
    border: 1px solid var(--purple-900);
    border-radius: 10px;
}

.dropdown-container {
    position: sticky;
    top: 0;
    left: 0%;
    background-color: #eddefece;
}

.difficulty-container label,
.dropdown-container label {
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
    color:  var(--purple-900);
}

.difficulty-select,
.dropdown-select {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid var(--grey-300);
    border-radius: 5px;
    background-color:  #e9d7fe6b;
    border: 1px solid var(--purple-900);
}

.difficulty-select:focus,
.dropdown-select:focus {
    border-color: var(--purple-600);
    outline: none;
    box-shadow: 0 0 4px var(--purple-600);
    background-color: #e9d7fe6b;
    border: 1px solid var(--purple-900);
}
