.add-button {
    width: 50px;
    height: 50px;
    font-size: 2.3rem;
    color: white;
    background-color: var(--purple-600);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: none;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    position: fixed;
    top: 30px;
    right: 40px;
}

.add-button:hover {
    background-color: var(--purple-900);
}

.greater-than {
    font-size: 2rem;
    font-weight: 200;
    margin: 0 7px;
}

.notebook-name--title {
    color: var(--purple-600);
    font-weight: 600;
    margin: 0;
}

.my-notebooks--title {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--grey-400-transparent-6);
    text-decoration: none;
    margin: 0;
}

.my-notebooks--title:hover {
    cursor: pointer;
    color: var(--grey-400);
}

.single-notebook--title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0;
}

.my-notebooks--title p {
    font-size: 2rem;
    margin: 0;
}

.upload-options--container {
    width: 210px;
    height: 140px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 80px;
    right: 40px;
}

.upload-option--container {
    width: 100%;
    height: 33.33%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    text-decoration: none;
    border: none;
    color: var(--grey-900);
    font-size: 1rem;
    font-family: var(--regular-font-family);
    background-color: transparent;
    outline: var(--purple-600);
    cursor: pointer;
}

.upload-option--container span {
    font-weight: 200;
}

.upload-option--container:hover {
    background-color: var(--purple-500-transparent-3);
}

.create-flashdeck--container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    z-index: 101;
    border-radius: 10px;
    min-width: 400px;
}

.create-flashdeck--container a {
    align-self: center;
}

.create-flashdeck--container h2 {
    margin: 0;
}

.create-flashdeck--background {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent gray */
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
}

.create-flashdeck--input-container {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
}

.create-flashdeck--title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.close-button {
    color: var(--purple-600);
    font-weight: 600;
}

.close-button:hover {
    color: var(--purple-900);
}

.select-notebook--container {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.notebook--container {
    margin-top: 40px;
}

.notebook-type--label {
    color: var(--grey-400-transparent-6);
    margin-bottom: -5px;
}

.notebook-selects {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.notebook-visibility--container {
    border: 1.5px var(--purple-600) solid;
    padding: 5px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    z-index: -1;
}

.notebook-visibility--container p {
    margin: 0;
}

.type--box-my-notebook .material-symbols-outlined {
    font-weight: 200;
    font-size: 8rem;
    margin-left: -15px;
    color: var(--purple-600);
}

.type--box-my-notebook {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.type--box-my-notebook p {
    margin: 0;
    width: fit-content;
    margin-top: -10px;
    text-align: center;
    color: var(--grey-900);
}

.type--container-my-notebooks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: -25px;
}

.notebooks--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    place-items: center; 
}

.notebooks--container .material-symbols-outlined {
    font-size: 9rem;
    font-weight: 200;
    color: var(--grey-900);
}

.notebook-container--my-notebooks p {
    width: fit-content;
    margin: 0;
    margin-top: -10px;
}

.notebook-container--my-notebooks .material-symbols-outlined:hover {
    filter: brightness(75%);
    cursor: pointer;
}

.notebook-container--my-notebooks {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--grey-900);
}

.create-notebook--my-notebooks {
    display: flex;
    justify-content: center;
    border: 0.5px var(--grey-900) dashed;
    width: 120px;
    height: 130px;
    align-items: center;
    margin-top: 15px;
    border-radius: 5px;
    border-width: 2px;
}

.create-notebook--my-notebooks p {
    font-size: 5rem;
    margin: 0;
    align-self: center;
    color: var(--grey-900);
    margin-bottom: 10px;
}

.create-notebook--my-notebooks:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.search-container--my-notebooks {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    width: 100%;
    column-gap: 30px;
    margin-bottom: 30px;
}

.select-container--my-notebooks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    padding-top: 20px;
    width: 100%;
    margin: auto;
}

.type--container-my-notebooks .material-symbols-outlined {
    cursor: pointer;
}

.visibility-stars--container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    height: 100%;
}

.stars-container--single-notebook {
    display: inline-flex; /* so the div doesn't add extra space around the stars */
    margin-right: 15px;
}

.stars-container--single-notebook .material-symbols-rounded {
    color: var(--yellow-star);
    font-size: 1.7rem;
}

.star-filled {
    font-variation-settings: 'FILL' 1;
}